.input-background {
  background-color: #fff !important;
  border-radius: 10px !important;
  border-bottom: 5px !important;
}

.search-background {
  background-color: rgb(214, 208, 208) !important;
  border-radius: 10px !important;
}

.input-background:focus {
  background-color: #fff !important;
}

.ant-picker-input > input {
  color: #495057 !important;
}

.ant-picker-input > input::placeholder {
  color: #495057 !important;
}
.form-group {
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
  display: flex;
  flex-direction: column-reverse;
}

.form-group label {
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
  padding: 0.75rem;
}

.form-control:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
}

.nav-border {
  border-right: 1px solid #177ddc;
  border-bottom: 1px solid #177ddc;
}

.continent-fill {
  background-color: #177ddc;
}

.primary-heading {
  background-image: linear-gradient(to right, #177ddc, #0219e6);
  background-clip: text;
  color: transparent;
  font-size: 2.5rem;
}

.secondary-heading {
  background-image: linear-gradient(to right, #177ddc, #0219e6);
  padding: 10px;
  font-size: 4.5rem;
}

.tertiary-heading {
  background-image: linear-gradient(to right, #2e89de, #0518c9);
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.title-heading {
  background-image: linear-gradient(to right, #177ddc, #0219e6);
  padding: 0 20px;
  font-size: 4.5rem;
}

.facts {
  background-image: linear-gradient(to right, #2edea0, #05c95d);
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
}

.loading-spinner {
  color: #177ddc !important;
  font-size: 5rem;
}

.active {
  background-color: #177ddc;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.ant-card-meta-title {
  font-size: 32px !important;
  text-align: center;

  background-image: linear-gradient(to right, #1226d6, #8bc0f1) !important;
  background-clip: text !important;
  color: transparent !important;
}

.nav-anim {
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.active-nav {
  transform: translateX(0);
  opacity: 1;
}

.jumbotron {
  background-color: #36389e;
}

.slider img {
  height: 700px;
  object-fit: cover;
}

.logo {
  padding-left: 300px !important;
}

.logo-sm {
  padding-left: 240px !important;
}

.tour-background {
  background-image: linear-gradient(
    to right bottom,
    rgba(64, 67, 248, 0.3),
    rgba(12, 15, 197, 0.3)
  );

  height: 90vh;
}

.tour-cover {
  height: 90vh;
  object-fit: cover;
  margin-top: -90vh;
  z-index: -20;
  position: absolute;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}

.pointer {
  cursor: pointer;
}
